*.bak
/locale/CS/LC_MESSAGES/default.po~
/locale/tools/
/dev/
/AutoHotkey.exe
/AutoHotkeyU32.exe
/Checker.npp
/Checker.csv
/ExportCurrWpt.ggp.pas
/Checker.TEST.OvereniGCcom.ggf
/Checker.TEST.RuznaOvereni.ggt
